:root{
  --green :#00bfa5;
}

* {
  
  font-family: 'Roboto', sans-serif;
}



.img-user {
  width: 5em;
  height: 5em;
  border-radius: 100px;
}

.user {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 1em;
text-align: center;
}

.border-photo-user {
  text-align: center;
  margin: 0;
}

.user-name {
  font-weight: 900;
}






.new-post{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/**Post.html*/
.header-post{
  background-color:var(--green);
  height: 9vh;
}

.back{
color: white;

float: left;
}

.back i {
  font-size: 4em;
}

.btn-post i {
  margin-left:10px ;
}

.border-post{
  
  border: 1px solid#03ddc0 ;
  border-radius: 10px;
  word-wrap: break-word;
}

.border-post p {
  padding: 10px;
}

.box-post-new{
  margin-top: 10px;
  
}

.box-img-post{
  overflow: auto;
}

.post-user{
  border: 2px solid #03ddc0  ;
  border-radius: 10px;
  height: 18vh;
  padding:10px;
  outline: none;
}

.img-user-post{
  width: 2.5em;
  height: 2.5em;
  border-radius: 100px;
  
}

.user-name-post {
  float: left;
  margin-left: 10px;
  font-weight: 900;
  position: relative;
  bottom: 4px;
}

.border-photo-post-user{
float: left;
  margin: 0;
}

.container-post{
  padding: 1em;
}

#profile {
  display: none;
}