* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url(../assets/images/new-fondo.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

.inline-block {
  display: inline-block;
}

.container-register {
  height: 100vh;
  display: flex;
  padding: 2em;
  align-items: center;
}

.splash {
  height: 100vh;
  background: linear-gradient(to bottom right, #ffffff, rgb(10, 255, 222));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-splash {
  text-align: center;
}

.img-logo-splash {
  width: 170px;
}

#previsualizacion {
  width: 25%;
}


/* principal */


/* .img-bears {
  width: 100px;
  margin-top: -70px;
} */

.border-register {
  padding: 1em;
  width: 100%;
  height: auto;
  margin: 25vh 5vh;
}

.message-ini {
  position: absolute;
  color: #30f7ae;
  bottom: 1.5em;
  left: 1em;
  font-size: 20px;
}

.message-ini p {
  font-family: 'Montserrat', sans-serif;
}

.img-logo-white {
  width: 160px;
}

.box-btn {
  text-align: center;
  padding: 0 5em;
}

.box-btn a {
  display: block;
  color: white;
  border: 2px solid white;
  margin: 2em auto 0 auto;
  border-radius: 20px;
}

.box-btn a:hover {
  background-color: white;
  color: #009974;
  font-weight: 800;
}

.box-img-register {
  text-align: center;
}

.two-buttons {
  margin-top: 100px;
}

.first-btn1 {
  margin: 130px;
  margin-top: 200px;
  margin-bottom: 0;
}

.first-btn2 {
  margin: 135px;
  margin-top: -100px;
}

.btn,
.btn-large {
  background-color: rgba(104, 177, 104, 0);
  color: black;
  border-radius: 5px;
}

.btn-style {
  background-color: #009974;
  color: white;
}

#alg-center {
  text-align: center;
}

.absolute {
  position: absolute;
  width: 25%;
}

.absolute p {
  display: inline-block;
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 2em;
  text-align: center;
}

.absolute img {
  width: 50%;
  display: inline-block;
}

.modal {
  padding: 1em;
}


/* splash */

.vh100 {
  height: 100vh;
}

.container-flex-colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.container-flex-row {
  display: flex;
  justify-content: space-between;
}

.img-logo {
  background-repeat: no-repeat;
  height: 90px;
  margin: -50px 100px 0 100px;
  width: 170px;
}

.img-logo2 {
  background-repeat: no-repeat;
  height: 90px;
  margin: 80px 100px 0 100px;
  width: 170px;
}

.grad70 {
  background: linear-gradient(to bottom right, #ffffff, rgb(10, 255, 222));
  width: 100%;
}

.message {
  text-align: center;
  padding: 1em;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.btn-google {
  background-color: #F32E06;
  color: white;
  padding: .7em;
  border-radius: 10px;
  transition: .5s;
}

.btn-google:hover {
  background-color: rgb(202, 36, 3);
}

.btn-facebook {
  background-color: #4B80BD;
  color: white;
  padding: .7em;
  border-radius: 10px;
  transition: .5s;
}

.btn-facebook:hover {
  background-color: rgb(43, 96, 156);
}

.box-login-sn {
  margin-top: 1em;
  padding: .5em;
}

.box-login-sn span {
  margin-right: 10px;
}


/*Loader spinner*/

.loader {
  color: #009974;
  font-size: 10px;
  margin: 100px auto;
  width: .8em;
  height: .8em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 4s infinite linear;
  animation: load4 4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#pd0 {
  padding: 0;
}

@media only screen and (min-width: 601px) {
  body {
    background: linear-gradient(to right, #002359, #30f7ae);
  }
  .box-btn {
    padding: 0;
  }
  .border-register {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 25vh 0;
  }
  .row .col {
    padding: 4em;
  }
  .box-btn a {
    background-color: transparent;
    border: 1px solid #009974;
    color: #009974;
  }
  .container-register {
    padding-right: 0;
  }
}

@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


/*Fin loader*/