#contenedor {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  height: 40vh;
  justify-content: space-between;
}

.modal.modal-fixed-footer {
  width: 100%;
  overflow: hidden;
}

.note {
  width: 60px;
  border-radius: 20px;
  cursor: pointer;
}

.note:nth-child(1) {
  background: #02B65E;
  height: 300px;
  margin: 5px;
}

.note:nth-child(2) {
  background: #F0D20E;
  height: 280px;
  margin: 5px;
}

.note:nth-child(3) {
  background: #D04559;
  height: 260px;
  margin: 5px;
}

.note:nth-child(4) {
  background: #E28C12;
  height: 240px;
  margin: 5px;
}

.note:nth-child(5) {
  background: #8E83C8;
  height: 220px;
  margin: 5px;
}

.note:nth-child(6) {
  background: #0285D4;
  height: 200px;
  margin: 5px;
}

.note:nth-child(7) {
  background: #FDC1C0;
  height: 180px;
  margin: 5px;
}

.note:nth-child(8) {
  background: #BE3C22;
  height: 160px;
  margin: 5px;
}

.boton {
  margin: 20px auto;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background: #333;
  cursor: pointer;
}

.white_bold {
  font-family: Helvetica, Arial, Sans-Serif;
  color: white;
  font-weight: bold;
  font-size: 20px;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  float: right;
}

.size-video {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.modal.modal-fixed-footer .modal-content {
  overflow: hidden;
}

.modal.modal-fixed-footer {
  background-image: url('../assets/images/fondo0.jpg');
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}