<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../assets/images/our-kids.png">
  <link href="https://fonts.googleapis.com/css?family=Days+One|Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/xilofono.css">
  <title>Home</title>
</head>
<body>
  <header>
    <nav class="nav-extended #00bfa5 teal accent-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo font-title">Our Kids</a>
        <img class="img-user" src="" alt="">
        <a href="#" data-activates="slide-out" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="hide-on-med-and-up">
            <a href="profile.html" c>Mi Perfil</a>
          </li>
          <li>
            <a href="register.html" class="close">Cerrar Sesión</a>
          </li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background">
                <img class="" src="../assets/images/fondito.jpg">
              </div>
              <a href="#!user"><img class="circle" id="circle-photo"></a>
              <a href="#!name"><span class="white-text name name-menu"></span></a>
              <a href="#!email"><span class="white-text email email-menu"></span></a>
            </div></li>
            <li><a href="home.html"><i class="material-icons">home</i>Principal</a></li>
            
            <li><a href="profile.html"><i class="material-icons">sentiment_very_satisfied</i>Perfil</a></li>
            <li><a href="register.html" class="close"><i class="material-icons">settings_power</i>Cerrar Sesión</a></li>
          </ul>
          
             
      </div>
      <div class="background-poster hide-on-med-and-down">
        <div class="user">
          <figure class="border-photo-user">
            <img class="img-user-profile" src="../assets/images/portadad.png" alt="">
          </figure>
          <p class="user-name user-name-poster"></p>
        </div>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent ">
          <li class="tab w20">
            
            <a class=" active" href="#test1"><i class="material-icons hide-on-med-and-up ">home</i><span class="hide-on-small-only">Inicio</span></a>
           
          </li>
          <li class="tab w20">
              <a class="hide-on-small-only" href="#test2"> Eventos</a>
            <a class="show-on-small" href="#test2"><i class="material-icons">event</i></a>
          
          </li>
          <li class="tab w20">
              <a class="hide-on-small-only" href="#test3">Amigos</a>
            <a class="show-on-small" href="#test3"><i class="material-icons">people</i></a>
          </li>
          <li class="tab w20">
              <a class="hide-on-small-only" href="#test4"> Favoritos</a>
            <a class="show-on-small" href="#test4"><i class="material-icons">favorite</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="padd1">
    <div class="row">
      <article class="left col l3 hide-on-med-and-down ">
        <div class="border-post">
          <p class="font-subtitle">Mi Perfil</p>
          
          <div class="info-user-profile-dk">
            <div class="email-profile ">
              <i class="material-icons color ">mail_outline</i>
              <p class="inline-block"></p>
            </div>
            <div class="age-profile ">
              <i class="material-icons color ">cake</i>
              <p class="inline-block">23 de Diciembre</p>
            </div>
            <div class="contacts-profile ">
                <i class="material-icons color">location_on</i>
                <p class="inline-block black-font">Lima,Perú</p>
              </div>
              <hr>
              <div class="center-align">
                  <div class="friends inline-block">
                    <p class="color">Amigos</p>
                    <p>23</p>
                  </div >
                  <div class="friends inline-block">
                    <p class="color">
                      Seguidores
                    </p>
                    <p>45</p>
                  </div>
                </div>
          </div>
        </div>
        <div class="border-post">
            <div class="row">
                <div class="col s12 m12">
                  <div class="card">
                    <div class="card-image">
                      <img src="../assets/images/new3.jpg">
                      <span class="card-title wfont">25 de Setiembre</span>
                    </div>
                    <div class="card-content">
                      <p>Jornadas Formativas Aprendiendo Juntos Sobre Autismo en Chihuahua (México).</p>
                    </div>
                    <div class="card-action">
                      <a href="https://autismodiario.org/2017/09/15/jornadas-formativas-aprendiendo-juntos-autismo-chihuahua-mexico/">Ver más</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col s12 m12">
                    <div class="card">
                      <div class="card-image">
                        <img src="../assets/images/new4.jpg">
                        <span class="card-title wfont">22 de Abril</span>
                      </div>
                      <div class="card-content">
                        <p>Jornadas Formativas Aprendiendo Juntos Sobre Autismo en Chihuahua (México).</p>
                      </div>
                      <div class="card-action">
                        <a href="https://autismodiario.org/2017/09/15/jornadas-formativas-aprendiendo-juntos-autismo-chihuahua-mexico/">Ver más</a>
                      </div>
                    </div>
                  </div>
                </div>
                    

        </div>

      
            
                    

        
      </article>
      <div class="center col s12 col l6">
        <div id="test1" class="col s12">
          <div class="container-post">  
            <div class="post-new"></div>
          </div>
         <!-- <a class="btn-floating btn-large waves-effect waves-light #00bfa5 teal accent-4 new-post modal-trigger" href="#modalx">
            <i class="material-icons">add</i>
          </a>-->
          <div class="fixed-action-btn horizontal click-to-toggle">
            <a class="btn-floating btn-large waves-effect waves-light #00bfa5 teal accent-4">
              <i class="material-icons">menu</i>
            </a>
            <ul>
              <li><a class="btn-floating #00838f cyan darken-3  modal-trigger" href="#modalx"><i class="material-icons">create</i></a></li>
              <li><a class="btn-floating #00b8d4 cyan accent-4" href="chat.html"><i class="material-icons">question_answer</i></a></li>
              
            </ul>
          </div>
                
        </div>
        <div id="test2" class="col s12">
                   
        <div class="row">
            <div class="col s12 col m12 col l12 ">
              <div class="carousel">
                <a class="carousel-item" href="#one!">
                  <img class="img-carrusel waves-effect waves-light modal-trigger" href="#modal1" src="../assets/images/org1.jpg">
                </a>
                <a class="carousel-item" href="#two!">
                  <img class="img-carrusel waves-effect waves-light modal-trigger" href="#modal2" src="../assets/images/org2.jpg">
                </a>
                <a class="carousel-item" href="#three!">
                  <img class="img-carrusel waves-effect waves-light modal-trigger" href="#modal3" src="../assets/images/org3.jpg">
                </a>
                <a class="carousel-item" href="#five!">
                  <img class="img-carrusel waves-effect waves-light modal-trigger" href="#modal5" src="../assets/images/org5.jpg">
                </a>
                <a class="carousel-item" href="#five!">
                  <img class="img-carrusel waves-effect waves-light modal-trigger" href="#modal6" src="../assets/images/org6.png">
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4 class="font-subtitle">Entra a mi mundo</h4>
            <p>Fundación en la cual mejoran la calidad de vida de las personas con Autismo.</p>
            <p>Trabajan permanentemente en beneficio de:
              <br> Niños, adolescentes, jóvenes y adultos portadores de trastornos del espectro autista, a saber, Síndrome Autista,
              Síndrome de Asperger, Síndrome Desintégrativo Infantil, Síndrome de Rett, Síndrome de Autismo Atípico , Retraso
              en el desarrollo de la comunicación y lenguaje de todo el territorio de la República del Ecuador, sin discriminación
              de raza, credo, condición social u origen.
              <br> Ademas cuentan con varios programas individuales de apoyo, Integración escolar, Nutrición, Taller de Padres,
              Centro de Diagnóstico e Intervención Integral.
              <br> visitanos en
              <a href="http://chiquitosybebes.com/fundacion-entra-a-mi-mundo/">Entraamimundo.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- cierre modal -->
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4 class="font-subtitle">FUNDASOCENIA</h4>
            <p>
              FUNDASOCENIA es una institución sin fines de lucro, fundada el 30 de Enero de 1986 por un grupo de padres, profesionales
              y amigos identificados con esta causa, Queremos promover el bienestar general de las personas con trastorno
              del espectro autista, y fomentar los avances y mejoras de investigación sobre el mismo. Promover el establecimiento
              de instalaciones adecuadas para su diagnóstico y tratamiento, estimulando a padres y profesionales, y sirviéndoles
              como Centro de Investigación para recoger y difundir toda información con respecto a esta patología.
              <a href="http://fundasocenia.org/wordpress/">FUNDASOCENIA.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- cierre modal -->
        <!-- Modal Structure -->
        <div id="modal3" class="modal">
          <div class="modal-content">
            <h4 class="font-subtitle">Autismo en Voz Alta</h4>
            <p>
              <br>La Fundación AUTISMO EN VOZ ALTA es una organización sin fines de lucro dedicada a proporcionar una alternativa
              educativa integral de calidad para personas con trastornos del espectro autista, apoyando así su integración
              al contexto familiar y social.Los trastornos del espectro autista pueden ser difíciles de diagnosticar, porque
              no existen pruebas médicas, como los análisis de sangre, para diagnosticar estos trastornos. Para hacer un
              diagnóstico, los especialistas evalúan la conducta de la persona y su desarrollo.
              <br> visitanos en
              <a href="http://www.autismoenvozalta.com/index.php/es/">autismoenvozalta.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- cierre modal -->
        <!-- Modal Structure -->
        <div id="modal5" class="modal">
          <div class="modal-content">
            <h4 class="font-subtitle">Fundacion Besitos Salados</h4>
            <p>
              Somos un asociacion civil que apoya a personas con fibrosis quística de escasos recursos, buscamos un diagnóstico oportuno
              de esta enfermedad, apoyamos a las personas afectadas con consultas médicas, medicamentos, suplementos nutricionales
              . Nuestro objetivo es mejorar la sobrevida y calidad de vida e igualarla a la que se logra en países desarrollados.
              <br> visitanos en
              <a href="https://www.inixar.com/u/fundacion-besitos-salados-a-c">Besitossalados.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- cierre modal -->
        <!-- Modal Structure -->
        <div id="modal6" class="modal">
          <div class="modal-content">
            <h4 class="font-subtitle">Frente al Autismo</h4>
            <p>Por que el Autismo tiene cura.</p>
            <p>
              <br> Hemos integrado esfuerzos y creado alianzas con todos los que comparten con nosotros su trabajo constante
              en beneficio de nuestro país. Así, generamos multiplicadores para lograr un trabajo más efectivo y de mayor
              alcance. En este sentido y con el objeto de que nuestro trabajo social tenga un mayor alcance, creamos la Red
              de Asociaciones y Fundaciones Empresariales.
              <br> visitanos en
              <a href="https://redasociaciones.com/?gclid=Cj0KCQiAkNfSBRCSARIsAL-u3X-ka10_Uo48qjFlzw4mPlPrs9c7UiyhYOGmDSqja29K1k3r260FTQkaAsdlEALw_wcB">Frentealautismo.com</a>
            </p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        <!-- cierre modal -->

        <div id="test3" class="col s12 list-contact">
          
          <div class="contacts">
          </div>
        </div>
        <div id="test4" class="col s12 col m12 col l12 ">
          <div class="pd10">
            
           <div class="hide-on-med-and-up">
              <div class="game-mobile auto">
                  <img class="circle left-game modal-trigger" src="../assets/images/music.gif" alt="xilofono"
                  href="#modal7">
              </div>
              <div  class="game-mobile auto">
                  <img class="circle rigth-game modal-trigger" src="../assets/images/mono.gif" alt="rompecabezas"
                  href="#modal8">
              </div>
             <div class="game-mobile auto">
                <img class="circle left-game modal-trigger" src="../assets/images/galli.gif" alt="play"
                href="#modal9">
             </div>
              
            </div>


            <div class="box-game hide-on-small-only">
                <div class="row">
                    <div class="col s12 m12">
                      <div class="card">
                        <div class="card-image">
                          <img src="../assets/images/music.gif" class="modal-trigger" href="#modal7">
                          <span class="card-title">Xilofono</span>
                        </div>
                        <div class="card-content">
                          <p>La música es una buena fuente de relajación</p>
                        </div>
                        <div class="card-action">
                          <a class="modal-trigger" href="#modal7">Pruebalo</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col s12 m12">
                        <div class="card">
                          <div class="card-image">
                            <img src="../assets/images/mono.gif" alt="rompecabezas" class="modal-trigger" href="#modal8">
                            <span class="card-title">Xilofono</span>
                          </div>
                          <div class="card-content">
                            <p>Las animaciones del siguiente video te van a sacar una sonrisa</p>
                          </div>
                          <div class="card-action">
                            <a class="modal-trigger" href="#modal8">Pruebalo</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12">
                          <div class="card">
                            <div class="card-image">
                              <img src="../assets/images/galli.gif" alt="play" class="modal-trigger" href="#modal9">
                              <span class="card-title">Xilofono</span>
                            </div>
                            <div class="card-content">
                              <p>Las animaciones del siguiente video te van a sacar una sonrisa</p>
                            </div>
                            <div class="card-action">
                              <a class="modal-trigger" href="#modal9">Pruebalo</a>
                            </div>
                          </div>
                        </div>
                      </div>
  


            </div>
            <!-- Modal Trigger -->
            <!-- Modal Structure -->
            <div id="modal7" class="modal modal-fixed-footer">
              <div class="modal-content">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
                <h4 class="title-modal">Xilofono</h4>
                <!-- <p>Aprendamos las notas musicales!!</p> -->
              </div>
              <div id="contenedor">
                <div class="note center white_bold all-boxes" id="0">DO</div>
                <div class="note center white_bold all-boxes" id="1">RE</div>
                <div class="note center white_bold all-boxes" id="2">MI</div>
                <div class="note center white_bold all-boxes" id="3">FA</div>
                <div class="note center white_bold all-boxes" id="4">SOL</div>
                <div class="note center white_bold all-boxes" id="5">LA</div>
                <div class="note center white_bold all-boxes" id="6">SI</div>
                <div class="note center white_bold all-boxes" id="7">DO</div>
              </div>
              <div class="boton center white_bold">BLANCA NAVIDAD</div>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/C.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/D.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/E.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/F.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/G.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/A.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/B.mp3"></audio>
              <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/C2.mp3"></audio>
            </div>

            <!-- Modal Trigger -->
            <!-- Modal Structure -->
            <div id="modal8" class="modal modal-fixed-footer">
              <div class="modal-content">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
                <h4></h4>
                <div class="container">
                  <div class="row">
                    <div class="col s12 col m12 col l12">
                      <h4 class="title-modal">Monosilabo</h4>
                      <video controls class="img-responsive size-video">
                        <source src="../assets/images/mono.mp4" type="video/mp4"></source>
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="modal9" class="modal modal-fixed-footer">
              <div class="modal-content">
                <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
                <h4></h4>
                <div class="container">
                  <div class="row">
                    <div class="col s12 col m12 col l12">
                      <h4 class="title-modal">Gallina Pintadita</h4>
                      <video controls class="img-responsive size-video">
                        <source src="../assets/images/pollito.mp4" type="video/mp4"></source>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <article class="rigth col l3 hide-on-med-and-down ">
        <div class="border-post">
          <p class="font-subtitle">Noticias</p>
          
          <div class="row">
              <div class="col s12 ">
                <div class="card">
                  <div class="card-image">
                    <img src="../assets/images/new1.jpg">
                   
                  </div>
                  <div class="card-content">
                    <p>Clemencia Vallejos, directora de Educación Básica Especial del Minedu, explicó que los pirotécnicos tienen un efecto negativo en las personas con TEA porque perciben los sonidos con una mayor intensidad que otras. (Difusión.</p>
                  </div>
                  <div class="card-action">
                    <a href="https://elcomercio.pe/lima/sucesos/ministerio-educacion-recomendo-pirotecnicos-evitar-afectar-ninos-autismo-noticia-483128">Ver mas</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col s12 ">
                  <div class="card">
                    <div class="card-image">
                      <img src="../assets/images/new2.jpeg">
                     
                    </div>
                    <div class="card-content">
                      <p>“Ser diferente no es una enfermedad. Es algo que todos somos en mayor o menor medida”.</p>
                    </div>
                    <div class="card-action">
                      <a href="https://elcomercio.pe/opinion/columnistas/autistas-santiago-roncagliolo-noticia-458229">Ver mas</a>
                    </div>
                  </div>
                </div>
              </div>
                  
        
          </div>
      </article>

      <!-- Modal Structure -->
      <div id="modalx" class="modal modalClear">
        <div class="modal-content">
          <section class="box-new-post">
            <div class="user">
              <figure class="border-photo-user">
                <img class="img-user-post-new" alt="">
              </figure>
              <p class="user-name-post-new"></p>
            </div>
            <div>
              <textarea class="post-user" name="" id="post-user" cols="30" rows="10" placeholder="¿Qué deseas compartir?"></textarea>
            </div>
          
            <div class="file-field input-field">
              <div class="btn">
                <span><i class="material-icons">add_a_photo</i></span>
                <input type="file" id="imagen">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" >
              </div>
            </div>
            
            
          </section>
          <div class="modal-footer">
            <button  class="modal-action modal-close btn btn-post">
              <i class="material-icons ">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    
   

    <!--<script src="../js/register.js"></script>
    <script src="../js/home.js"></script>-->
 <script src="../js/user.js"></script>
 <script src="../js/home2.js"></script>
    <script src="../js/music.js"></script>
</body>
</html>