<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/xilofono.css">
  <link rel="stylesheet" href="../css/rompe.css">
  <title>Home</title>
</head>

<body>

  <header>

    <nav class="nav-extended #00bfa5 teal accent-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Our Kids</a>
        <img class="img-user" src="" alt="">
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="profile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="register.html" class="close">Cerrar Sesión</a>
          </li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="profile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="register.html" class="close">Cerrar Sesión</a>
          </li>

        </ul>
      </div>
      <div class="background-poster hide-on-med-and-down">
        <div class="user">
          <figure class="border-photo-user">
            <img class="img-user-profile" src="" alt="">
          </figure>
          <p class="user-name"></p>

        </div>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab">
            <a class="active" href="#test1">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test2">
              <i class="material-icons">person_add</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test3">
              <i class="material-icons">search</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test4">
              <i class="material-icons">favorite</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="">
    <div class="row">
      <article class="left col l3 hide-on-med-and-down border-post">
        <p>Mi Perfil</p>
        <div class="info-user-profile ">
          <div class="email-profile ">
            <i class="material-icons color ">mail_outline</i>
            <p class="inline-block"></p>
          </div>
          <div class="age-profile ">
            <i class="material-icons color ">cake</i>
            <p class="inline-block"></p>
          </div>
          <div class="contacts-profile ">
            <i class="material-icons color">people_outline</i>
            <p class="inline-block"></p>
          </div>
          <div class="post-profile">
            <i class="material-icons color">favorite_border</i>
            <p class="inline-block"></p>
          </div>

      </article>

      <div class="center col s12 col l7">
        <div id="test1" class="col s12">

          <div class="container-post">

          </div>

          <a class="btn-floating btn-large waves-effect waves-light #00bfa5 teal accent-4 new-post modal-trigger" href="#modal1">
            <i class="material-icons">add</i>
          </a>
        </div>
        <div id="test2" class="col s12">
          <p class="title">Agrega a tus amigos</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Ingresa email</label>
                </div>
                <button class="btn #00bfa5 teal accent-4">Add</button>
              </div>
            </form>
          </div>
        </div>
        <div id="test3" class="col s12 list-contact">
          <p class="title">Mis Contactos</p>
          <input type="text" class="search-contact" placeholder="Ingresa email">
          <div class="contacts">

          </div>

        </div>
        <div id="test4" class="col s12 col m12 col l12 background">
          <p class="title">Mis Favoritos</p>
          <span>
            <img class="circle size-img img-responsive waves-effect waves-light modal-trigger" src="../assets/images/music.gif" alt="xilofono"
              href="#modal1">
            <img class="circle size-img2 img-responsive waves-effect waves-light modal-trigger" src="../assets/images/mono.gif" alt="rompecabezas"
              href="#modal2">
            <img class="circle size-img img-responsive waves-effect waves-light modal-trigger" src="../assets/images/play.gif" alt="play"
              href="#modal3">
          </span>
          <!-- Modal Trigger -->
          <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
              <h4 class="title-modal">Xilofono</h4>
              <!-- <p>Aprendamos las notas musicales!!</p> -->
            </div>
            <div id="contenedor">
              <div class="note center white_bold all-boxes" id="0">DO</div>
              <div class="note center white_bold all-boxes" id="1">RE</div>
              <div class="note center white_bold all-boxes" id="2">MI</div>
              <div class="note center white_bold all-boxes" id="3">FA</div>
              <div class="note center white_bold all-boxes" id="4">SOL</div>
              <div class="note center white_bold all-boxes" id="5">LA</div>
              <div class="note center white_bold all-boxes" id="6">SI</div>
              <div class="note center white_bold all-boxes" id="7">DO</div>
            </div>
            <div class="boton center white_bold">BLANCA NAVIDAD</div>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/C.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/D.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/E.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/F.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/G.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/A.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/B.mp3"></audio>
            <audio class="sonidos" src="https://raw.githubusercontent.com/NestorPlasencia/sound/master/C2.mp3"></audio>
          </div>

          <!-- Modal Trigger -->
          <!-- Modal Structure -->
          <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
              <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat close">x</a>
              <h4></h4>
              <div class="container">
                <div class="row">
                  <div class="col s12 col m12 col l12">
                      <h4 class="title-modal">Monosilabo</h4>
                    <video controls class="img-responsive size-video">
                      <source src="../assets/images/mono.mp4" type="video/mp4"></source>
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <article class="rigth col l2 hide-on-med-and-down border-post">
        <p>Noticias</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In harum illum, mollitia illo nostrum dolorem unde consequuntur
          ut reiciendis porro, cum tenetur consequatur assumenda eligendi obcaecati optio enim laboriosam cupiditate?
        </p>
        <div>

        </div>

      </article>
      </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modalClear">
      <div class="modal-content">

        <section class="box-new-post">
          <div class="user">
            <figure class="border-photo-user">
              <img class="img-user-post-new" alt="">
            </figure>
            <p class="user-name-post-new"></p>

          </div>
          <div>
            <textarea class="post-user" name="" id="post-user" cols="30" rows="10" placeholder="¿Qué deseas compartir?"></textarea>

          </div>
          <a href="#">
            <i class="material-icons">insert_photo</i>
          </a>


        </section>


      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-post">Compartir
          <i class="material-icons ">send</i>
        </a>

      </div>
    </div>

    <script src=”../vendors/js/prefixfree.min.js” type="text/javascript"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/materialize/js/materialize.min.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/home.js"></script>
    <script src="../js/xilofono.js"></script>
</body>

</html>