<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <title>Home</title>
</head>

<body>

  <header>

    <nav class="nav-extended #00bfa5 teal accent-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Our Kids</a>
        <img class="img-user" src="" alt="">
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="profile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="register.html" class="close">Cerrar Sesión</a>
          </li>

        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li>
            <a href="profile.html">Mi Perfil</a>
          </li>
          <li>
            <a href="register.html" class="close">Cerrar Sesión</a>
          </li>

        </ul>
      </div>
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          <li class="tab">
            <a class="active" href="#test1">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test2">
              <i class="material-icons">person_add</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test3">
              <i class="material-icons">search</i>
            </a>
          </li>
          <li class="tab">
            <a href="#test4">
              <i class="material-icons">favorite</i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div id="test1" class="col s12">
    
    <div class="container-post">


    </div>



    <a class="btn-floating btn-large waves-effect waves-light #00bfa5 teal accent-4 new-post modal-trigger" href="#modal1">
      <i class="material-icons">add</i>
    </a>
  </div>
  <div id="test2" class="col s12">
    <p class="title">Agrega a tus amigos</p>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Ingresa email</label>
          </div>
          <button class="btn #00bfa5 teal accent-4">Add</button>
        </div>
      </form>
    </div>



  </div>
  <div id="test3" class="col s12 list-contact">
    <p class="title">Mis Contactos</p>
    <input type="text" class="search-contact" placeholder="Ingresa email">
    <div class="contacts">

    </div>



  </div>
  <div id="test4" class="col s12">
    <p class="title">Mis Favoritos</p>
  </div>
  





  <!-- Modal Structure -->
  <div id="modal1" class="modal modalClear">
    <div class="modal-content">

      <section class="box-new-post">
        <div class="user">
          <figure class="border-photo-user">
            <img class="img-user-post-new"  alt="">
          </figure>
          <p class="user-name-post-new"></p>

        </div>
        <div>
          <textarea class="post-user" name="" id="post-user" cols="30" rows="10" placeholder="¿Qué deseas compartir?"></textarea>

        </div>
        <a href="#">
          <i class="material-icons">insert_photo</i>
        </a>


      </section>


    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-post">Compartir
        <i class="material-icons ">send</i>
      </a>

    </div>
  </div>


  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/register.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>