<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Document</title>
</head>

<body>
  
  <div class="row">
    <h1>Log in</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate name">
          <label for="icon_prefix">email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <input id="icon_telephone" type="tel" class="validate password">
          <label for="icon_telephone">Password</label>
        </div>
        <button class="btn waves-effect waves-light" id="btn-login" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
  
  <!-- Inicialización Base de datos-->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyDaQXMAU0DCAKYCLPd8DtHqEhcbYHOIKj0",
      authDomain: "social-network-c585e.firebaseapp.com",
      databaseURL: "https://social-network-c585e.firebaseio.com",
      projectId: "social-network-c585e",
      storageBucket: "social-network-c585e.appspot.com",
      messagingSenderId: "506952908893"
    };
    firebase.initializeApp(config);

  </script>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>