<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <title>Home</title>
</head>

<body>
<header class="header-post">
    <a href="home.html" class="back"><i class="material-icons ">chevron_left</i></a>
    <button class="btn-post"><i class="material-icons right">send</i>Compartir</button>
</header>
  
<section class="box-new-post">
    <div class="user">
        <figure class="border-photo-user">
          <img class="img-user" src="../assets/images/user1.jpg" alt="">
        </figure>
        <p class="user-name">Luisa Lopez</p>
       
      </div>
      <div>
          <textarea class="post-user" name="" id="" cols="30" rows="10" placeholder="¿Qué deseas compartir?"></textarea>
    
      </div>
      <a href="#"><i class="material-icons">insert_photo</i></a>
   

</section>
 

  


  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/home.js"></script>
</body>

</html>