<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Kids</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="icon" href="../assets/images/our-kids.png">
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAXr5SfXVJQ_jCyB8w33CaaNZPuTPZeQAI",
      authDomain: "our-kids-47772.firebaseapp.com",
      databaseURL: "https://our-kids-47772.firebaseio.com",
      projectId: "our-kids-47772",
      storageBucket: "our-kids-47772.appspot.com",
      messagingSenderId: "208252014214"
    };
    firebase.initializeApp(config);
  </script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col s12" id="center">
        <div class="two-buttons ">
          <img class="img-logo2 img-responsive" src="../assets/images/our-kids-logo2.png" alt="logo">
          <a class="waves-effect waves-light modal-trigger btn first-btn1" href="#modal1">Signup</a>
          <a onclick="ingreso()" class="waves-effect waves-light modal-trigger btn first-btn2" href="#modal2">Login</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal center">
    <div class="modal-content">
      <div class="input-field">
        <h3>Signup</h3>
        <i class="material-icons prefix">account_circle</i>
        <input id="email" type="email" placeholder="Ingresa email">
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input id="contraseña" type="password" placeholder="Ingresa contraseña">
      </div>
    </div>
    <div class="modal-footer">
      <button onclick="ingreso()" class="modal-action modal-close waves-effect waves-green btn">Next</button>
    </div>
  </div>
  <!-- Modal Structure -->
  <div id="modal2" class="modal center">
    <div class="modal-content">
      <div class="input-field">
        <h4>Login</h4>
        <i class="material-icons prefix">account_circle</i>
        <input id="email2" type="email" placeholder="Ingresa email">
      </div>
      <div class="input-field">
        <i class="material-icons prefix">lock</i>
        <input id="contraseña2" type="password" placeholder="Ingresa contraseña">
      </div>
      <div class="modal-footer">
        <button onclick="ingreso()" class="modal-action modal-close waves-effect waves-green btn">Next</button>
      </div>
    </div>
  </div>
  <div id="contenido">
  </div>
  <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/register.js"></script>
</body>

</html>